force-app/main/default/flows/ATF_Loan_Update_Charge_Date_when_Term_is_updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_Charge_Date</name>
        <label>Assign Charge Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_associated_Loan_Charge.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>chargeDateFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_related_release_charge_record</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>chargeDateFormula</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.Date_Loan_Issued__c},{!$Record.Term__c})</expression>
    </formulas>
    <interviewLabel>ATF:Loan:Update Charge Date when Term is updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ATF:Loan:Update Charge Date when Term is updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Admin_Fee_charge_record</name>
        <label>Create Admin Fee charge record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <numberValue>300.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_Type__c</field>
            <value>
                <stringValue>Admin Fee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Loan_Charge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_associated_Loan_Charge</name>
        <label>Get associated Loan Charge</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Charge_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Charge_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Release Charge</stringValue>
            </value>
        </filters>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loan_Charge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_related_release_charge_record</name>
        <label>Update the related release charge record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Admin_Fee_charge_record</targetReference>
        </connector>
        <inputReference>Get_associated_Loan_Charge</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_associated_Loan_Charge</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Term__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Loan__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
